---
const pageTitle = "Designer + Developer";
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<!-- PAGE WRAPPER -->
		<div class="p-4">
			<section class="max-w-3xl mx-auto text-center">
				
				<Navigation />
				
				<h1 class="text-3xl font-extrabold">{pageTitle}</h1>
			</section>
			<Footer />
		</div>
		<!-- PAGE WRAPPER END -->
	</body>
</html>
