---
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<div class="mx-auto max-w-2xl bg-gray-50 flex justify-center px-8 rounded-2xl">
    <form name="Contact" action="/success" method="POST" data-netlify="true">
        <div class="my-4">
            <p>
                <label>Your Name: <input class="input input-bordered w-full max-w-xs" type="text" name="name" /></label>
            </p>
        </div>
        <div class="my-4">
            <p>
                <label>Your Email: <input class="input input-bordered w-full max-w-xs" type="email" name="email" /></label>
            </p>
        </div>
        <div class="my-4">
            <button class="btn w-full bg-teal-800 text-white" type="submit">Send</button>
        </div>
        
      </form>

</div>

  