---
import SocialMedia from '../components/SocialMedia.astro';
---
<footer class="text-center py-4">
    <ul class="flex justify-center gap-8">
        <li><SocialMedia platform="twitter" username="royasaucedo"/></li>
        <li><SocialMedia platform="github" username="royasaucedo"/></li>
        <li><SocialMedia platform="instagram" username="royasaucedo"/></li>
    </ul>
 </footer>