---
import '../styles/global.css';
---

<div class="hero bg-gray-50 rounded-3xl p-4 mb-10">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/royImg.PNG" class="w-full max-w-sm rounded-full shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Designer + Developer</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <div class="rounded-full w-60 bg-white py-2 px-4 flex justify-center gap-2 items-center border">
          <i class="fa-solid fa-location-dot" style="color: #292929;"></i> Orange County, CA
        </div>
      </div>
    </div>
  </div>